html {
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 4px; /* Ширина вертикальной полосы */
    height: 2px; /* Ширина горизонтальной полосы */
  }

  &::-webkit-scrollbar-track {
    margin: 8px 0;
    background: transparent; /* Прозрачный фон трека */
  }

  &::-webkit-scrollbar-thumb {
    background: $greyMiddle; /* Цвет бегунка */
    border-radius: 2px; /* Скругление углов */
  }

  &::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: $grayDark; /* Цвет бегунка при наведении */
  }

  /* Для Firefox */
  & * {
    scrollbar-width: thin; /* Автоматическая тонкая полоса */
    scrollbar-color: $greyMiddle transparent; /* Цвет бегунка и трека */
  }
}

.page {
  display: flex;
  flex-direction: column;
  position: relative;
}

body {
  position: relative;
  font-size: 1.6rem;
  background-color: $blackBlue;

  @mixin tablet {
    font-size: 1.8rem;
  }
}

.container {
  margin: 0 auto;
  max-width: 144rem;
}

.layout-pattern {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('@/assets/img/pattern.webp');
    background-repeat: repeat;
    opacity: 0.2;
    z-index: 0;
  }
}

.layout-upper {
  position: relative;
  z-index: 3;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-bottom: 2rem;
  font-size: 3.2rem;
  line-height: 4.1rem;
  color: $lightGrayOrange;
  font-weight: 300;

  &::before,
  &::after {
    content: '';
    flex: 1; /* Линии адаптируются по ширине */
    height: 0.1rem;
    opacity: 0.4;
    background-color: $whiteOrange;
  }

  &::before {
    margin-right: 0.6em; /* Отступ между линией и текстом */
  }

  &::after {
    margin-left: 0.6em;
  }
}

a {
  position: relative;
  opacity: 1;
}

a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  width: 0;
  height: 1px;
  background-color: $whiteOrange;
  transition: all 0.3s ease;
}

a:hover {
  opacity: 0.9;
}

a:hover::after {
  width: 100%;
}

img {
  display: block;
  object-fit: contain;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.vue-select {
  --vs-border-radius: 0.8rem;
  --vs-text-color: $grayDark;
  --vs-placeholder-color: $grayDark;
  --vs-background-color: $darkGrayBlue;
  --vs-menu-background-color: $darkGrayBlue;
  --vs-border: 0.1rem solid $orangeMuted;
  --vs-padding: 1.8rem 1.7rem;
  --vs-outline-color: $softOrange;

  --vs-menu-border: none;
  --vs-menu-box-shadow: box-shadow: 1px 5px 11px 0px #0000001a;
  --vs-option-text-color: $lightGrayOrange;
  --vs-option-hover-text-color: $lightGrayOrange;
  --vs-option-focused-text-color: $lightGrayOrange;
  --vs-option-selected-text-color: $lightGrayOrange;
  --vs-option-background-color: $darkGrayBlue;
  --vs-option-hover-background-color: $blueBlack;
  --vs-option-focused-background-color: $blueBlack;
  --vs-option-selected-background-color: $darkOrange;

  --vs-indicator-icon-color: $softOrange;

  @mixin tablet {
    --vs-width: 100%;
  }

  @mixin desktop {
    --vs-width: max(160px, 20%);
  }
}

.scroll-lock {
  overflow: hidden;
  display: block;
  height: 100dvh;
  max-width: 99.9vw;
  min-height: 700px;
}
