$darkBlack: #0d0804;
$primaryWhite: #fafafa;
$lightGray: #d6d6de;
$blackBlue: #141520;
$darkBlue: #151522;
$grayBlue: #3d404a;
$gray: #bebec9;
$darkGrayBlue: #212429;
$whiteOrange: #e7dace;
$lightGrayOrange: #e0d9d4;
$softOrange: #e9a87c;
$darkOrange: #b25b16;
$blackOrange: #3b2c21;

$tablet: 768px;
$desktop: 1024px;
